<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="optical_shop.My.MySettings.os3ConnectionString" connectionString="Data Source=MADMI\SQLEXPRESS;Initial Catalog=os3;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="optical_shop.My.MySettings.os8ConnectionString" connectionString="Data Source=MADMI\SQLEXPRESS;Initial Catalog=os8;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="optical_shop.My.MySettings.os7ConnectionString" connectionString="Data Source=MADMI\SQLEXPRESS;Initial Catalog=os7;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="optical_shop.My.MySettings.os10ConnectionString" connectionString="Data Source=MADMI\SQLEXPRESS;Initial Catalog=os10;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="optical_shop.My.MySettings.os11ConnectionString" connectionString="Data Source=MADMI\SQLEXPRESS;Initial Catalog=os11;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="optical_shop.My.MySettings.os13ConnectionString" connectionString="Data Source=MADMI\SQLEXPRESS;Initial Catalog=os13;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
